
		<div id="collections_container" class="one-column">
			<div id="content" role="main">

			

				<div id="post-171" class="post-171 page type-page status-publish collections_hentry">
											<h1 class="entry-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Ten O'Clock News</h1>
<div id="tools">
<%= render :partial => 'catalog/show_tools' %>
</div>
<div class="wgbh_image">
 <%= image_tag("sigimage-10oclock-van.jpg", :size => "684x300", :alt => "The Ten O'Clock News") %>
</div>
					
					<div class="collections_entry-content">
						<p> <i>The Ten O'Clock News</i> was a nightly news program produced and broadcast by WGBH. The Ten O'Clock News debuted on January 15, 1976 and aired until 1991. Its two immediate predecessors were The Reporters and Evening Compass that aired from 1970-3 and 1973-5, respectively. 
</p>
<p>
Among the many competitors in the Boston television landscape, The Ten O'Clock News strove for a balance between local and national stories, between politics and the arts. The program featured one or more nightly in-studio interviews with political figures, analysts, professors, artists and writers who came to discuss current events and culture. Local news included coverage of Boston neighborhoods, busing, Beacon Hill politics, the arts, and culture. The collection is made up of over 7500 items, primarily shot on 3/4" videotape, including final broadcasts, edited stories, raw footage and outtakes.
</p>
																	</div><!-- .entry-content -->
				</div><!-- #post-## -->

				

			</div><!-- #content -->
		</div><!-- #collections container -->
                   <div id="collections_primary" class="widget-area" role="complementary">
			<h3 style="font-size: 120%; width:211px; border-bottom: 3px solid #4A433B; margin-bottom:0px;" class="widget-title">Search within this collection</h3>
			<hr style="height: 2px; margin-top: 0px; margin-bottom:0px;">
				<ul><li>
                              <a href='/catalog?f[collection_s][]=Ten+O%27Clock+News'>All materials</a>
				</li>
				</ul>
			
			<br>
			<h3 style="font-size: 120%; width:97px; border-bottom: 3px solid #4A433B; margin-bottom:0px;" class="widget-title">Related links</h3>
			<hr style="height: 2px; margin-top: 0px; margin-bottom:0px;">
 			<ul>
                         <li>
                              <a href='http://main.wgbh.org/ton' target="_blank">The Ten O'Clock News Finding Aid</a>
			</li>
			<li>
				<a href="http://openvault.wgbh.org/" target="_blank">WGBH Open Vault</a>
			</li>
			<li>
			      <a href="http://tvnews.vanderbilt.edu" target="_blank"> Vanderbilt Television News Archive</a>
			</li>
			<li>
			     <a href="http://www.library.sfsu.edu/about/collections/sfbatv/index.php" target="_blank">San Francisco Bay Area News Archive
				</a>
			</li>
			<li>
				<a href="http://archive.org/details/911" target="_blank">September 11 Television Archive</a>
			</li>
			<li>
				<a href="http://archive.org/details/tv" target="_blank">Internet Archive TV News Collection</a>
                         </li>
                        </ul>	
		   </div><!-- #primary .widget-area -->
