
		<div id="collections_container" class="one-column">
			<div id="content" role="main">

			

				<div id="post-171" class="post-171 page type-page status-publish collections_hentry">
											<h1 class="entry-title">Cambridge Community Television</h1>
<div id="tools">
<%= render :partial => 'catalog/show_tools' %>
</div>
<div class="wgbh_image">
<%= image_tag("sigimage-cctv-drummers.jpg", :size => "684x300", :alt => "CCTV") %>
</div>
					
					<div class="collections_entry-content">

						<p> 
Cambridge Community Television, the public access television station for the City of Cambridge, was established through and is primarily funded by the City’s cable television franchise. 
</p><p>
Since its launch in 1988, CCTV has produced and/or collected a variety of historically relevant programs about people and topics of both local and national significance. These programs cover cultural, educational, scientific, and political subjects, as well as many others. 
</p><p>
CCTV invites you to browse through its collection and explore its records from 1988 through 1999.

</p>
																	</div><!-- .entry-content -->
				</div><!-- #post-## -->

				

			</div><!-- #content -->
		</div><!-- #collections container -->
                   <div id="collections_primary" class="widget-area" role="complementary">
			<h3 style="font-size: 120%; width:211px; border-bottom: 3px solid #4A433B; margin-bottom:0px;" class="widget-title">Search within this collection</h3>
			<hr style="height: 2px; margin-top: 0px; margin-bottom:0px;">
				<ul><li>
                              <a href='/catalog?f[collection_s][]=CCTV'>All materials</a>
				</li>
				</ul>
			
			<br>
			<h3 style="font-size: 120%; width:97px; border-bottom: 3px solid #4A433B; margin-bottom:0px;" class="widget-title">Related links</h3>
			<hr style="height: 2px; margin-top: 0px; margin-bottom:0px;">
 			<ul>
                         <li>
                              <a href='http://www.cctvcambridge.org/' target="_blank">Cambridge Community Television</a>
			</li>
			<li>
			      <a href="http://tvnews.vanderbilt.edu" target="_blank"> Vanderbilt Television News Archive</a>
			</li>
			<li>
			     <a href="http://www.library.sfsu.edu/about/collections/sfbatv/index.php" target="_blank">San Francisco Bay Area News Archive
				</a>
			</li>
			<li>
				<a href="http://archive.org/details/911" target="_blank">September 11 Television Archive</a>
			</li>
			<li>
				<a href="http://archive.org/details/tv" target="_blank">Internet Archive TV News Collection</a>
                         </li>
                        </ul>	
		   </div><!-- #primary .widget-area -->
