<div id="access" role="navigation">
   <div id='cssmenu'>
    <ul>
       <li class='active '><a href='http://bostonlocaltv.org'><span>Home</span></a></li>
       <li class='has-sub '><a href='#'><span>Collections</span></a>
        <ul>
	<li> <%= link_to "CCTV", cctv_collection_path %></li>
         <li><a href='wgbh'><span>The Ten O'Clock News</span></a></li>
         <li><a href='wcvb'><span>WCVB Collection</span></a></li>
         <li> <%= link_to "WHDH", whdh_collection_path %></li>
        </ul>
       </li>
       <li class='catalog'><a href='catalog'><span>Browse</span></a></li>
       <li class='blog'><a href='/blog'><span>Blog</span></a></li>
    </ul>
   </div>
</div>
