<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Great news - your recent request for digitization was approved!</h3>
    <p>
      The digitization process on your requested item <%= link_to @artifact.title, "http://bostonlocaltv.org/catalog/#{@artifact.solr_document_id}" %> has already begun.
      We'll email you as soon as it's ready.<br/>
    </p>
    <p>
      To check the status of this and other requests, <%= link_to "visit your dashboard anytime", dashboard_url %>.
    </p>
    <p>Thank you for your interest in the Boston TV News Digital Library.</p>
  </body>
</html>