<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The item you requested is available.</h3>
    <p>
       We are happy to inform you the item you recently requested, <%= link_to @artifact.title, "http://bostonlocaltv.org/catalog/#{@artifact.solr_document_id}" %>, has been digitized and is available. <br/>
    </p>
    <p>
      To check the status of your other requests, <%= link_to "visit your dashboard anytime", dashboard_url %>.
    </p>
    <p>Thank you for your interest in the Boston TV News Digital Library.</p>
  </body>
</html>