<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news - your recent request for digitization was approved!</h1>
    <p>
      The digitization process on your requested item <%= @artifact.to_s %> has already begun.
      We'll email you as soon as it's ready.<br/>
    </p>
    <p>
      To check the status of this and other requests, visit your dashboard anytime: (dashboard url here).
    </p>
    <p>Thank you for your request!</p>
  </body>
</html>