<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We regret to inform you we are unable to digitize your recently requested item <%= @artifact.to_s %>,
      due to technical and/or legal complications. However, we appreciate your interest in the content 
      and encourage you to make requests of other materials you may be interested in. <br/>
    </p>
    <p>
      To check the status of this and other requests, visit your dashboard anytime: (dashboard url here).
    </p>
  </body>
</html>