<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We regret to inform you that your recent request for digitization was denied.</h1>
    <p>
      The digitization on your requested item <%= @artifact.to_s %> cannot be completed at this time 
      due to technical and/or legal complications. However, we appreciate your interest in the content 
      and encourage you to make requests of other materials you may be interested in. <br/>
    </p>
    <p>
      To check the status of this and other requests, visit your dashboard anytime: (dashboard url here).
    </p>
  </body>
</html>