<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You recently withdrew your request for digitization on <%= @artifact.to_s %>. No further action is required on your part. <br/>
    </p>
    <p>
      To check the status of any remaining requests, <%= link_to "visit your dashboard anytime", dashboard_path %>. Thank you for your interest in the Boston TV News Digital Library. 
    </p>
  </body>
</html>