<h1>My Requested Items</h1>


<% if @user.artifacts.nil? %>
  <em>You currently don't have any items requested.</em>
<% else %>
  <table>
    <% @user.artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact %></td>
        <td><%= artifact.state %></td>
        <td><%= link_to "Withdraw Request", digitization_path(artifact.id), method: "DELETE" %></td>
      </tr>
    <% end %>
  </table>
<% end %>