<h2>My Requested Items</h2>


<% if @user.artifacts.nil? %>
  <em>You currently don't have any items requested.</em>
<% else %>
  <table>
    <tr>
      <th>Item</h2>
      <th>Digitization Status</th>
      <th>Sponsorship Status</th>
      <th>Actions</th>
    </tr>
    <% @user.sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= link_to sponsorship.artifact.solr_document_id, catalog_path(sponsorship.artifact.solr_document_id) %></td>
        <td><%= sponsorship.artifact.state %></td>
        <td><%= sponsorship.status %>
        <td><%= link_to "Withdraw Request", digitization_path(sponsorship.artifact.id), method: "DELETE" %></td>
      </tr>
    <% end %>
  </table>
<% end %>