<h3>Your current cart</h3>
<% if !@cart.nil? %>
  <ul class="cart_items">
      <% @cart.shopping_cart_items.each do |item| %>
        <li><a href="/catalog/<%= item.solr_document_id %>"><%= item.solr_document_id %></a></li>
      <% end %>
  </ul>
  <br />
  <button id="submit_cart">Submit cart</button>
<% else %>
  <p>Your cart is currently empty</p>
  <button id="submit_cart" disabled>Submit cart</button>
<% end %>