
// BOOTSTRAP COMPONENTS

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

/**********************************************************
*
* Top bar
*
**********************************************************/
.navbar {
  border: none;
  margin-bottom: 0;
  min-width: 800px;
  .brand { 
    padding: 0; 
    margin: 0 0 0 15px;
    min-width: 126px;
  }
  .navbar-inner {
    @include border-radius(0);
    background: $dark-gray;  
    h1 {
      font-family: $sans-font;
      font-size: $bl*3;
      font-style: normal;
      font-weight: $sans-bold;
      line-height: $bl*3;
      padding-top: $bl;
      text-shadow: none;
      a { 
        color: $white;
        text-decoration: none;
      }
      span { 
        clear: left;
        color: $orange;
        display: block;
      }
    }
  }
  .nav {
    > li > a {
      color: $white;
      float: left;
      font-size: 14px;
      &:hover {
        color: $orange;
      }
    }
    i { 
      float:left;
      margin: 16px -10px 0 15px;
    }
  }
  .search_home {
    display: inline-block;
    float: right;
    margin-right: 100px;
    form {
      margin: 4px 0 0;
      input {
        margin: 0;
        max-width: 286px;
      }
    }
  }
}

/**********************************************************
*
* Tabs
*
**********************************************************/
.nav-tabs.nav-stacked {
  background-color: $light-gray;
  .active {
    background-color: $mid-gray;
  }
  > li:first-child > a, > li:last-child > a {
    @include border-radius(0);
  }
  > li > a {
    color: $dark-gray;
  }
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

// CUSTOM MODULES

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////

/**********************************************************
*
* Carousel
*
**********************************************************/
#feature-container {
  max-height: 410px;
  min-width: 800px;
  overflow: hidden;
  position: relative;
  img { 
    min-width: 100%;
  }
  .active .info {
    background-color: rgba(0, 0, 0, .6);
    color: $white;
    padding: 60px;
    min-width: 40%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    .carousel-text {
      top: 205px;
      padding-right: 60px;
      position: absolute;
      z-index: 1002;
    }
    p {
      color: $light-gray;
      font-family: $sans-font;
      line-height: 1.3;
      margin-bottom: 3px;
    }
  }
  .carousel-control {
    font-size: 24px;
    padding-top: 8px;
    position: absolute;
    top: 205px;
    right: 30px;
    z-index: 1003;
  }
}

/**********************************************************
*
* Homepage Mast
*
**********************************************************/
// #feature-container {
//   height: $bl*68;
//   overflow: hidden;
//   position: relative;
//   img { min-width: 100% }
// }

// .featured-info {
//   @include background-image(
//     linear-gradient(right top, 
//       rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)
//     )
//   );
//   padding-top: $bl*34;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   h2 { 
//     color: #fff;
//     padding-bottom: $bl*4;
//   }
//   p { 
//     color: $mid-gray; 
//     font-size: $bl*3;
//     line-height: $bl*3;
//   }
// }

/**********************************************************
*
* Homepage Content
*
**********************************************************/
// #home_container {
//   padding: $bl*8;
//   .post {
//     background-color: $white;
//     border: solid 1px $mid-gray;
//     margin-bottom: $bl*8;
//   }
// }