<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.to_s %> has withdrawn their digitization request on <%= @artifact.to_s %> </p>
  </body>
</html>