<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a new request for digitization from, <%= @user.to_s %></h1>
    <p>
      The artifact that has been requested is: <%= @artifact.to_s %>.<br/>
    </p>
  </body>
</html>