<div class="row">
  <div class="span9">
      <br>
      <p>
Welcome to the Boston TV News Digital Library, funded by the Institute of Museum and Library Services and the Council on Library and Information Resources. This collaboration between the Boston Public Library, Cambridge Community television, Northeast Historic Film and WGBH Educational Foundation aims to bring to life local news stories produced in and about Boston from the early 1960’s to 2000.
      </p>
      <p>
We’ve created an online catalog of news content from Boston Public Library’s WHDH film collection (1960- mid-1970s), Cambridge Community Television (1988 to 1999), Northeast Historic Film’s WCVB film collection (1970-1979), and WGBH-produced The Reporters (1970-1973), Evening Compass (1973-1975) and the Ten O’Clock News. That's almost 50,000 records.
      </p>
  </div>
  <div class="span3">
    <ul class="nav nav-list">
      <li class="nav-header">Collections</li>
      <li><a href="/wgbh"><span class="label default">8000</span> WGBH</a></li>
      <li><a href="/cctv"><span class="label default">4857</span> CCTV</a></li>
      <li><a href="/wcvb"><span class="label default">15500</span> WCVB</a></li>
      <li><a href="/whdh"><span class="label default">23425</span> WHDH</a></li>
      <li class="nav-header">Resources</li>
      <li><a href="/blog/resources-archivist/">Archivists</a></li>
      <li><a href="/blog/resources-for-scholars/">Scholars</a></li>
      <li><a href="/blog/resources-for-teachers/">Teachers</a></li>
    </ul>
  </div>
</div>