<% # main container for facets/limits menu -%>
<% unless facet_field_names.empty? %>
<div id="facets" class="facets">
  <h2>Filter your results:</h2>
  <% facet_field_names.each do |solr_fname| %>
    <% if solr_fname == "video_s" %>
      <div class="facet_limit blacklight-<%= solr_fname.parameterize %>">
        <h3>Video Available</h3>
        <ul>
          <li>Videos will be added to the site on an on-going basis</li>
          <li><a href="#">Video is available (0)</a></li>
        </ul>
      </div>
    <% else %>
      <%= render_facet_partials([solr_fname]) %>
     <% end %>
   <% end %>
</div>
<% end %>
