<% # main container for facets/limits menu -%>
<% unless facet_field_names.empty? %>
<div id="facets" class="facets">
  <h2>Filter your results:</h2>
  <% facet_field_names.each do |solr_fname| %>
    <%= render_facet_partials([solr_fname]) %>
   <% end %>
</div>
<% end %>
