<div id="footer" role="contentinfo">
    <div id="colophon">
        <p id="site-title">Boston TV News Digital Library: 1960&mdash;2000</p>
        <div id="footer-nav" role="navigation">
            <div class="menu-header">
                <ul id="menu-footer" class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/glossary/">Glossary</a></li>
                    <li><a href="/blog/about/">About</a></li>
                    <li><a href="/blog/credits/">Credits</a></li>
                    <li><a href="/blog/terms/">Terms of Use</a></li>
                    <li><a href="/blog/privacy/">Privacy Policy</a></li>
                    <li><a href="/blog/contact/">Contact</a></li>
                </ul>
            </div>
        </div>
        <p id="copyright">&copy; <%= Time.new.year %> WGBH</p>
        <div id="partner-logos">
            <img src="/logos/logo-wgbh.png" alt="WGBH" width="94">
            <img src="/logos/logo-cctv.png" alt="CCTV" width="68">
            <img src="/logos/logo-bpl.png" alt="BPL" width="57">
            <img src="/logos/logo-nehf.png" alt="NEHF" width="61">
            <img src="/logos/logo-wcvb.png" alt="WCVB" width="61">
        </div>

    </div><!-- #colophon -->
</div><!-- #footer -->
