<div id="footer" role="contentinfo">
		<div id="colophon">
		    <p id="site-title">Boston TV News Digital Library: 1960&mdash;2000</p>
			<div id="footer-nav" role="navigation">
				<div class="menu-header"><ul id="menu-footer" class="menu"><li id="menu-item-1272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1272"><a href="http://bostonlocaltv.org/">Home</a></li>
<li id="menu-item-1273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1273"><a href="/blog/resources/">Resources</a></li>
<li id="menu-item-1286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1286"><a href="/blog/glossary/">Glossary</a></li>
<li id="menu-item-1274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1274"><a href="/blog/about/">About</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="/blog/credits/">Credits</a></li>
<li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="/blog/terms/">Terms of Use</a></li>
<li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="/blog/privacy/">Privacy Policy</a></li>
<li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="/blog/contact/">Contact</a></li>
<li id="menu-item-1353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1353"><a href="/blog/help/">Help</a></li>
</ul></div>			</div>
			<p id="copyright">&copy; <%= Time.new.year %> WGBH</p>
			<div id="partner-logos">
                <img src="/blog/wp-content/themes/twentyten-local/images/logo-wgbh.png" width="94" height="83">
                <img src="/blog/wp-content/themes/twentyten-local/images/logo-cctv.png" width="90" height="83">
                <img src="/blog/wp-content/themes/twentyten-local/images/logo-bpl.png" width="57" height="83">
                <img src="/blog/wp-content/themes/twentyten-local/images/logo-nehf.png" width="61" height="83">
            </div>


			<div id="site-info">
					<!-- Boston Local TV News Project -->
                <!-- </a> -->
			</div><!-- #site-info -->

			<div id="site-generator">
								<!-- <a href="http://bitnami.org/stack/wordpress/" title="Semantic Personal Publishing Platform" rel="generator">Proudly powered by BitNami WordPress.</a> -->
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->
