<div id="footer" role="contentinfo">
		<div id="colophon">
		    <p id="site-title">Boston TV News Digital Library: 1960&mdash;2000</p>
			<div id="footer-nav" role="navigation">
				<div class="menu-header">
          <ul id="menu-footer" class="menu"><li id="menu-item-1272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1272"><a href="/">Home</a></li>
            <li id="menu-item-1286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1286"><a href="/blog/glossary/">Glossary</a></li>
            <li id="menu-item-1274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1274"><a href="/blog/about/">About</a></li>
            <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="/blog/credits/">Credits</a></li>
            <li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="/blog/terms/">Terms of Use</a></li>
            <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="/blog/privacy/">Privacy Policy</a></li>
            <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177"><a href="/blog/contact/">Contact</a></li>
            <li id="menu-item-1353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1353"><a href="/blog/help/">Help</a></li>
          </ul>
        </div>
      </div>
			<p id="copyright">&copy; <%= Time.new.year %> WGBH</p>
			<div id="partner-logos">
        <img src="/logos/logo-wgbh.png" alt="WGBH" width="94" height="83">
        <img src="/logos/logo-cctv.png" alt="CCTV" width="68" height="55">
        <img src="/logos/logo-bpl.png" width="57" height="83">
        <img src="/logos/logo-nehf.png" width="61" height="83">
        <img src="/logos/logo-wcvb.png" alt="WCVB" width="61" height="61">
      </div>

		</div><!-- #colophon -->
	</div><!-- #footer -->
