 <div id="feature-text">
     <p><strong style="font-size: 120%;">Explore collections &mdash;&gt; Vote!</strong><br />Welcome to the Boston TV News Digital Library.  Explore the CCTV, Ten O’Clock News, WHDH and WCVB Collections.  You can add information and vote for the records you would like to be digitized.</p>
     </br> 
     <a href="/catalog"><img src="http://bostonlocaltv.org/blog/wp-content/themes/twentyten-local/images/button-browse-h.png"></a>
 </div>
