<h3>Welcome.</h3>
<p></p>
<p></p>
<p><b><&#8212; You can: </b><br/>
<ul class="bullet"><li>Use the filters to the left to browse our collections</li>
<li>Conduct a search and then refine your results using the filters</li>
</ul>
<br/>
<b>Or, try one of these searches to get started:</b></br>
<ul class="nobullet"><li>Busing for school integration</li>
   <li>MBTA [Massachusetts Bay Transportation Authority]</li>
   <li>Boston Celtics</li>
   <li>Demonstrations</li>
   <li>Fire</li>
   <li>Elections</li>
   <li>Mayor White</li>
   <li>Ted Kennedy</li>
   <li>Charlestown (Mass.)</li>
   <li>Faneuil Hall (Boston, Mass.)</li>
</ul>
</p>
