	<div id="access" role="navigation">
<div class="menu-header"><ul id="menu-header" class="menu"><li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="http://bostonlocaltv.org/about/">Home</a></li>
<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="http://bostonlocaltv.org/resources/">Collections</a></li>
<li id="menu-item-1261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1261"><a href="http://bostonlocaltv.org/browse">Browse</a></li>
<li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-176"><a href="http://bostonlocaltv.org/">Blog</a></li>
</ul></div>	
</div>
