<% if current_user && @document[:video_s].nil? %>
  <% cart = ShoppingCart.user_open_cart(current_user).last %>
  <% if cart
      cart_items = cart.shopping_cart_items.map{|item| item.solr_document_id}
    else
      cart_items = [] 
    end %>
  <% if cart_items.include? @document.id %>
    <span class="in_cart">Already in your cart</span>
  <% else %>
    <% cart = current_user.shopping_carts.user_open_cart(current_user).last %>
    <a href='#' class="add_to_cart" data-itemid="<%= @document[:id] %>" data-cartid="<%= cart.id unless cart.nil?  %>" data-userid="<%= current_user.id %>" data-title="<%= @document[:title_s].first.to_s %>">Add to cart</a>
  <% end %>
<% else %>
  <a href="#" class="add_to_cart_no_user" >Add to cart</a>
  <div id="dialog" title="User Access Error">
    <p>You must be signed in to add items to your cart.<br /><br /><a href="/users/sign_in">Sign in here</a> or <a href="/users/sign_up">Sign up here</a></p>
  </div>
<% end %>