
<% if document.has? "video_s" %>
  <%# default partial to display solr document fields in catalog show view -%>
	<div id="video_player_container">
	  <video class="video-js vjs-default-skin" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }' id="videoplayer" width="100%" height="400px">
	    <source src="http://mlamedia01.wgbh.org/bostonlocaltv/<%= render_document_show_field_value :document => document, :field => "video_s" %>" type="video/mp4" />
	  </video>
	</div>
<% else %>
  <div class="no_video">
    <img src="/assets/blank_video.jpg" alt="video must be requested from the vault">
    <p class="">This asset hasn't been digitized yet.</p>
  </div>
<% end %>


<div class="field_list">
  <span class="field_name">Description:</span>
  <span class="field_value">
    <% if document.has? 'description_s' %>
      <%= render_document_show_field_value :document => document, :field => 'description_s' %>
    <% else -%>
      <em>No description currently available.</em>
    <% end -%>
  </span>
</div>