// For Document List
#documents {


  .content {
    font-size: 1.3em;
    line-height: 1.3em;
    clear:both;
    overflow:hidden;

    .index-image-container {
      width: 30%;
      margin-right: 10px;
      float: left;
      img {
        width: 100%;
      }
    }
  }

  .has_image {
    width: 65%;
    margin-left: 33%;
  }

}


// For Document Show
#document {

  .document {
    // undo Blacklight default
    border: none;
  }

  .title {
    font-family: serif;
    display: inline-block;
    float: left;
    width: 80%
  }

  .tools {
    padding: 8px 0;
    overflow: hidden;
    display: inline-block;
    float: right;

    .tools-list {
      float:right;
      width:130px;
    }

    .add_to_cart, .add_to_cart_no_user, .in_cart {
      position: absolute;
      right: 0;
      font-size: 14px;
    }
  }

  .field_list {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-top: 10px;
  }
}

// Up the size of the fields list in the sidebar for catalog#show
#sidebar {
  .field_list {
    font-size: 1.3em;
  }
}