body {
  background: #d3d2d0 url('blacklight/bg-5px.jpg') repeat-x top left; 
  font: 12px Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif; 
  color: #333;
  font-size: 10px;
  line-height: 13px;
  padding-top: 0px;
  margin: 0px; 
  padding: 0px 15px;
}

p, ol, ul, td, strong, em {
  font-size: 1.3em;
  line-height: 1.4em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  font-size: 2.6em;
  line-height: 3em;
}
h2 {
  font-size: 2.2em;
  line-height: 2.5em;
}
h3 {
  font-size: 1.8em;
  line-height: 2.2em;
}
h4 {
  font-size: 1.6em;
  line-height: 1.8em;
}
h5 {
  font-size: 1.4em;
  line-height: 1.6em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-size:inherit;
  color: #e5553c;
  text-decoration:none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: darken(#e5553c, 20%);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

form {
  .form-input {
    margin: 10px 0px;
    label {
      width: 35%;
      display: inline-block;
      color: #333;
      text-align:right;
    }
    input {
      width: 30%;
    }
  }
  .form-checkbox-inline {
    margin-left: 35%;
    label {
      color: #333;
    }
  }
  .form-submit {
    input {
      margin-left: 35%;
      height: 25px;
      font-weight: 1.5em;
    }
  }
  i {
    margin-left: 35%;
  }
}

#login form,p,fieldset,table,pre
{
	margin-bottom:1em;
}

abbr,acronym
{
	border-bottom:1px dotted #000;
	cursor:help;
}

blockquote,ul,ol,dl
{
	margin:1em;
}

caption
{
	margin-bottom:.5em;
	text-align:center;
}

dl dd
{
	margin-left:1em;
}

em
{
	font-style:italic;
}

form div.row
{
	clear:both;
	margin-bottom:.5em;
}

form div.row label
{
	float:left;
	margin-right:.5em;
	text-align:right;
	width:120px;
}

form div.row.submit
{
	margin-left:130px;
}

form.per_page
{
	float:right;
}

form.sort
{
	display:inline;
}

hr
{
	background-color:#ccc;
	border:none;
	height:1px;
}

input
{
	padding:.1em;
}

input[type=text],input[type=password],textarea
{
	width:130px;
}

label
{
	color:#e4e4e4;
	font-weight:500;
        font-style:italic;
}

ol li
{
	list-style:decimal outside;
}

ol,ul,dl
{
	margin-left:2em;
}

select,input,button,textarea
{
	font:1em Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif;
}

table.zebra .zebra_stripe,ul.zebra .zebra_stripe
{
	background-color:#F1F5FA;
}

textarea
{
	height:15em;
	width:30em;
}

th
{
	font-weight:700;
	text-align:center;
}

th,td
{
	border:1px solid #000;
	padding:.5em;
}



