@import "susy_framework";
@import "compass/utilities";
@import "compass/css3/border-radius";

$search_ui_border_color: #AAAAAA;
$search_ui_bg_color: #FFF;

/* Generic layout stuff */
.hide 
{
  display:none
}

/* Header Container Layout */
#page_home
{ 
  @include container;
}

#collection
{
   color:#e4e4e4;
   font-size:12px;
   font-style:italic;
}

#blog
{
  color:#e4e4e4;
  font-size:12px;
  font-style:italic;
}


#hd_home
{
  padding: 0px;
  height: 122px;
  width: inherit;
 
  #logo_left
  {
   width: 122px;
   height: 122px;
   float: left;
  }
  
  #logo_right
  {
   width: 900px;
   height: 122px;
   float: left;
   position: relative;

   .bostontvnews-logo {
     float: left;
    }
 
    .top-dates-logo {
     float: left;
    }
    #user_info {
      position: absolute;
      right: 0;
      top: 5px;
      color: #fff;
      text-align: right;
      p {
        font-size: 13px;
      }
      a {
        color: #e5553c;
      }
    }
}
}

#top_search
{
    font-size:120%;
    text-align:right;
    margin-top:13px;
    margin-bottom: 12px;
    float: right;
    width: 350px;
    height: 22px;
}
  
.q_field {
  position: relative;
  margin-left: 30px;
  margin-right: 0px;
  width: 350px;
  padding-bottom: 2px;
  height: 22px;
  float: left;
  color: #e4e4e4;

  .fq {
    width: 150px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 10pt;
    color: #666;
    line-height: 1.25em;
    font-family: georgia;
    font-style: italic;
    background-color: #FFF;
    
  }

  .submit {
    position: relative;
    top: 24px;
    right: 10px;
    width: 14px;
    height: 14px;
   }
  } 
  
  #search_context_collection
  {
    width: 150px;
    height: 22px;
    float: right;
  }
 

#bd_prod
{
  @include container;
  @include clearfix;
  margin-bottom: 2em;
  padding: 0px 0px 25px 0px;

  #main {
   display: inline;
   float: right;
   padding-left: 20px;
   width: 704px;
   margin-bottom: 20px;
   padding-top: 0px;
   #main_container {
    background-color: $search_ui_bg_color;
    border: 1px solid #e5e5e5;
    padding: 10px;
    #sortAndPerPage label {
      color: #777;
    }
    #startOverLink {
      padding: 0px 10px;
    }
    .page_links span.current {
      color: #333;
    }
    #browse_content {
//      padding: 15px;
    }
    #tabs {
      .ui-tabs-nav {
        background: transparent;
        border:none;
        border-bottom: 1px solid #999;
        border-radius: 0px;
        .ui-state-active {
          border-color: #666;
        }
      }
    }
  }
  
 }

  #sidebar 
  {
    width: 298px;
    float: left;
    margin-top: 0px;
    background-color: $search_ui_bg_color;
    border: 1px solid #e5e5e5;
    #facets {
      padding: 20px;
      box-sizing: border-box;
      h2 {
        font-size: 20px;
        padding: 5px 0px;
      }
      .facet_limit {
        padding: 5px 0px;
        h3 {
          color: #e5553c;
          font-size: 15px;
          background: #efefef;
          padding: 5px;
        }
        h3.twiddle:before {
         content: url(/assets/arrow_right.png); 
         padding-right: 5px;
        }
        h3.twiddle-open:before {
          content: url(/assets/arrow_down.png);
          padding-right: 5px;
        }
        ul {
          margin-left: 25px;
          li {
            list-style: disc;
          }
          .more_facets_link {
            list-style:none;
          }
        }
      }
    }
   #side_search
    {
     font-size:120%;
     text-align:right;
     margin-bottom: 12px;
     float: left;
     width: auto; 
     padding: 20px 20px 0px 20px;
     box-sizing: border-box;
     position: relative;
     height: 45px;
   }

   #side_search .submit
   {
    position: absolute;
    top: 24px;
    right: 29px;
    width: 14px;
    height: 14px;
   }
    .q
    {
     float: left;
     width: 260px;
     padding-left: 5px;
     padding-right: 14px;
     margin-top: 0px;
     color: #838383;
     line-height: 1.25em;
     background-color: #FFF;
     font-family: georgia;
     font-style: italic;
     font-size: 10pt;
    }

    p 
    { 
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}
.blacklight-catalog-home #bd_prod #main #main_container {
  padding: 0;
  background: transparent;
  overflow:hidden;
  border:none;
}
#feature-container {
   width: 1024px;
   margin-bottom: 20px;
   background: #fff;
   border: 1px solid #e5e5e5;
 }

#collections
{
  width: 684px;
  float: left;
  background: white;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 4px #BBB;
}

#ft {
  @include full;
  @include clearfix;
}

.post
   {
     padding: 0px 44px 30px 44px;
   }
.meta
  {
    font-size: 100%;
    line-height: 21px;
    color: #888;
}

#documents {
  .document {
    padding: 10px 0px;
    .documentHeader {
      width: 100%;
    }
    .docContent {
      clear:both;
      overflow:hidden;
      .index-image-container {
        width: 30%;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      .docDetails {
        width: 100%;
        margin-left: 1em;
        dd {
          margin-left: 0px;
        }
      }
      .hasImage {
        width: 65%;
        margin-left: 33%;
      }
    }
  }
}

#document {
  .docHeader {
    position: relative;
    .docTitle {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 5px;
    }
    .tools {
      
    }
    .add_to_cart {
      position: absolute;
      right: 0;
    }
  }
}

