@import "susy_framework";
@import "compass/utilities";
@import "compass/css3/border-radius";

$search_ui_border_color: #AAAAAA;
$search_ui_bg_color: #FFF;

/* Generic layout stuff */
.hide 
{
  display:none
}

/* Global */
body 
{
  background: #d3d2d0 asset_url('blacklight/bg-5px.jpg',image) repeat-x top left; 
  font: 12px Verdana, "Lucida Grande", "Lucida Sans Unicode", "Arial Unicode MS", Arial, sans-serif; 
  line-height: 1.4; 
  margin: 0px; 
  padding: 15px;
}

/* Header Container Layout */
#page_home
{ 
  @include container;
}

#collection
{
   color:#e4e4e4;
   font-size:12px;
   font-style:italic;
}

#blog
{
  color:#e4e4e4;
  font-size:12px;
  font-style:italic;
}

#hd_home
{
  padding: 0px 60px 0px 60px;
  height: 122px;
  width: inherit;
 
  #logo_left
  {
   width: 122px;
   height: 122px;
   float: left;
  }
  
  #logo_right
  {
   width: 700px;
   height: 122px;
   float: left;

.bostontvnews-logo {
   float: left;
  }
 
  .top-dates-logo {
   float: left;
  }
}
}

#top_search
{
    font-size:120%;
    text-align:right;
    margin-top:13px;
    margin-bottom: 12px;
    float: right;
    width: 350px;
    height: 22px;
}
  
.q_field {
  position: relative;
  margin-left: 30px;
  margin-right: 0px;
  width: 350px;
  padding-bottom: 2px;
  height: 22px;
  float: left;
  color: #e4e4e4;

  .fq {
    width: 150px;
    padding-right: 20px;
    padding_bottom: 5px;
    font-size: 10pt;
    color: #666;
    line-height: 1.25em;
    font-family: georgia;
    font-style: italic;
    background-color: #FFF;
    
  }

  .submit {
    position: relative;
    top: 24px;
    right: 10px;
    width: 14px;
    height: 14px;
   }
  } 
  
  #search_context_collection
  {
    width: 150px;
    height: 22px;
    float: right;
  }
 

#bd_prod
{
  @include container;
  @include clearfix;
  margin-bottom: 2em;
  padding: 0px 0px 25px 0px;

  #main 
  {
   display: inline;
   float: right;
   padding-left: 20px;
   width: 704px;
   margin-bottom: 20px;

   #main_container
    {
         background-color: $search_ui_bg_color;
    }
  
 }

  #sidebar 
  {
    width: 300px;
    float: left;
    margin-top: 40px;
    background-color: $search_ui_bg_color;

   #side_search
    {
     font-size:120%;
     text-align:right;
     margin-bottom: 12px;
     float: left;
     width: auto; 
     padding: 0 0 0 20px;
   }

   #side_search .submit
   {
      position: relative;
      top: 40px;
      right: 19px;
      width: 14px;
      height: 14px;
      
   }
    .q
    {
     float: left;
     width: 260px;
     padding-left: 5px;
     padding-right: 14px;
     margin-top: 35px;
     color: #838383;
     line-height: 1.25em;
     background-color: #FFF;
     font-family: georgia;
     font-style: italic;
     font-size: 10pt;
    }

    p 
    { 
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}

#feature-container {
   width: 1024px;
   margin-bottom: 20px;
 }

#collections
{
  width: 684px;
  float: left;
  background: white;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 4px #BBB;
}

#ft {
  @include full;
  @include clearfix;
}

.post
   {
     padding: 0px 44px 30px 44px;
   }
.meta
  {
    font-size: 100%;
    line-height: 21px;
    color: #888;
}

