.dashboard {
  #bd_prod #sidebar {
    h2 {
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #999;
    }
  }
}
 
  h2 {
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #999;
  }

  .actions a {
  color: white;
  }
