// Place all the styles related to the ShoppingCarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=submit], button[type=submit] {
  height: 25px;
  background: #f4583d;
  border: none;
  color: #333;
  font-weight: bold;
  font-size: 1.4em;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: darken(#f4583d, 5%);
  }
  &:disabled, &:disabled:active {
    background: lighten(#f4583d, 20%);
    cursor:default;
    color: #777;
  }
}
input.no_style, button.no_style {
  background: transparent;
  font-size: 12px;
} 
.order_item {
  background: #e5e5e5;
  padding: 10px;
  margin-bottom: 10px;
  .item-date {
    float: right;
    font-size: 11px;
  }
}
.empty_cart {
  text-align: center;
  padding: 70px;
  background: #e5e5e5;
  font-size: 28px;
}

#current-cart {
  position:relative;
  .empty-cart {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #888;
  }
  .cart_items {
    li.cart_list_item {
      position: relative;
      padding: 5px;
      margin: 5px 0px;
      background: #F8F8F8;
      border: 1px solid #e9e9e9;
      .item-title {
        width: 90%;
      }
      .remove-cart-item {
        position: absolute;
        right: 10px;
        top: 4px;
        font-weight: bold;
      }
    }
  }
  .cart_empty {
    padding: 20px;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #e9e9e9;
  }
}