/* menu nav at the top of the page*/
#cssmenu{
  float:left; 
  height:33px; 
  display:block; 
  padding:0; 
  margin:15px 0;
} 
#cssmenu > ul {
  list-style:inside none; 
  padding:0; 
  margin:0;
} 
#cssmenu > ul > li {
  list-style:inside none; 
  padding:0; margin:0; 
  float:left; 
  display:block; 
  position:relative;
} 
#cssmenu > ul > li > a{ 
  outline:none; 
  display:block; 
  position:relative; 
  padding:5px 20px; 
  font-size: 20px;
  font-family: serif; 
  text-decoration:none; 
  color: #555353;
} 
#cssmenu > ul > li:first-child > a{
  padding-left: 0px;
} 
#cssmenu > ul > li > a:after{ 
  content:''; 
  position:absolute; 
  border-right:1px solid; 
  top:5px; 
  bottom:5px; 
  right:-2px; 
  z-index:99; 
} 
#cssmenu ul li.has-sub:hover > a:after{
  top:5px; 
  bottom:5px;
} 
#cssmenu > ul > li.has-sub > a:before{ 
  content:''; 
  position:absolute; 
  top:15px; 
  right:4px; 
  border:5px solid transparent; 
  border-top:5px solid #333333; 
} 
#cssmenu > ul > li.has-sub:hover > a:before{
  top:15px;
} 
#cssmenu ul li.has-sub:hover > a{ 
  color: #333333; 
  border-color:#D3D2D0; 
  background-color: #FFF; 
  padding-bottom:5px; 
  padding-top:5px; 
  z-index:999; 
} 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{
  display:block;
} 
#cssmenu ul li.has-sub > a:hover{
  border-color:#D3D2D0;
} 
#cssmenu ul li > ul, #cssmenu ul li > div{ 
  display:none; 
  width:auto; 
  position:absolute; 
  top:13px; 
  left: -34px; 
  padding:10px 0; 
  background:#FFF; 
  border-radius:0 0 5px 5px; 
  z-index:999; 
} 
#cssmenu ul li > ul{
  width:148px;
} 
#cssmenu ul li > ul li{
  display:block; 
  list-style:inside none; 
  padding:0; 
  margin:0; 
  position:relative;
} 
#cssmenu ul li > ul li a{ 
  outline:none; 
  display:block; 
  position:relative; 
  margin:0; 
  padding:8px 20px; 
  color:#333333; 
  text-decoration:none; 
  width:100px; 
  background: none repeat scroll 0 0 #FFF;
} 
#cssmenu ul li.active a {
  color: #000;
}
#cssmenu, #cssmenu > ul > li > ul > li a:hover{ 
   color:#E5553C;
    } 
#cssmenu{
  border-color:#D3D2D0;
} 
#cssmenu > ul > li > a{} 
#cssmenu > ul > li > a:after{
  border-color:#a2a2a2;
} 
#cssmenu > ul > li > a:hover{ 
  color:#E5553C;
} 
#cssmenu > ul > li.has-sub > ul > li a { 
  color: #333333; 
}
#cssmenu > ul > li.has-sub > ul > li a:hover { 
  color: #E5553C; 
}