/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#home_container {
        float: left;
        width: 492px;
}
#collections_container{
  float: left;
  width: 684px;
}
#content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 4px #bbb;
  width: 684px;
}

#home_content
{
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 2px 2px 4px #bbb;
        width: auto;
        padding-top: 35px;


.body
  {
     padding-top: 20px;
     color: #333333;
     font-size: 14px;
     line-height: 21px;
  }
}
#primary,
#secondary {
  float: right;
  overflow: hidden;
  width: 300px;
}

#home_primary,
#home_secondary
{
  width: 532px;
        float: left;
}


#collections_primary
{
  float: right;
  overflow: hidden;
  width: 300px;
  margin-top:40px;
}

#search_home
{
      width: 172px;
      float: left;
      margin-left: 20px;
}

#inner_search
{
        background-color: #FFF;
        padding: 25px 20px 20px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 2px 2px 4px #bbb;


.search
{
   font-weight: normal;
   padding-bottom: 10px;
   font-style: italic;
   font-size: 140%;
}

.search_hr
{
   height: 1px;
   clear: both;
   background-color: #E7E7E7;
   margin-top: 30px;
   margin-bottom: 0px;
}

.q
{
     width: 137px;
     font-size: 110%;
     font-style: italic;
     padding-right:14px;
}