<% [:notice, :error, :alert].each do |type| %>
  <% if flash[type] %>
    <div class="msg-bar ui-state-<%= type == :error ? 'error' : 'highlight' %> ui-corner-all <%= type.to_s %>"><%= flash[type] %></div>
  <% end %>
<% end %>