<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <h1 class="brand"><a href="/">Boston TV News <span>Digital Library</span></a></h1>  
    <%= render "catalog/home_search_form" %>
  </div>
</nav>